$mq1200: 1200px;
$mq1920: 1920px;
$mq992: 992px;
$mq768: 767px;
$mq576: 576px;
$mq425: 425px;
$mq1023: 1023px;
$templateColor: #fff;
$templateColorOG: #199EB8;
$templateColorOG2: #1EBFDE;

// *{
//   margin: 0px !important;
//   padding: 0px !important;
// }

*:not(i):not(span){
  font-family: 'Righteous', cursive !important;
}

html, body {
  height: 100%;
}


#contact#contact{
  min-height: 85.8%;

height: 85.8%;
  @media screen and (max-width: $mq1920){
  padding: 10% 0;
 
}


@media screen and (max-width: $mq992){
  min-height: auto;

height: auto;
  }

@media screen and (max-width: $mq768){
  padding: 10% 0;
}

@media screen and (max-width: $mq576){
  
}

  .info.info{

@media screen and (max-width: $mq768){
  margin-bottom: 30px;
 
}



.container{
  @media screen and (max-width: $mq768){
    padding: 5% 0;
  }
}

    >div{
overflow: hidden;

      min-height: 1px;

height: 100%;
      }

    i{
      width: 20%;

// min-height: 100%;
      // height: 100%;
      text-align: center;

line-height: 50px;
      }
    p{
// height: 100%;
      float: left;

      margin-bottom: 0;

      padding: 6px 0 0 0;

      width: 80%;

      
      }

    .line{
      padding-left: 10px;

      @media screen and (max-width:$mq992){
        padding-left: 6px;
      }

      @media screen and (max-width: $mq768){
        padding-left: 30.5px;
      }

      @media screen and (max-width: $mq425){
        padding-left: 19px;
      }

      @media screen and (max-width: 375px){
        padding-left: 15px;
      }

      @media screen and (max-width: 320px){
        padding-left: 10px;
      }



      >img{
        width: 14%;
        // margin-left: 8px;
        // margin-right: 9px;
        
        @media screen and (max-width: $mq768){
          padding: 0 0;
          // padding: 0 12px;
          // margin: 0;
          width: 8.5%;
        }

        @media screen and (max-width: $mq425){
          width: 11%;
        }
        @media screen and (max-width: 375px){
          width: 12%;
        }
        @media screen and (max-width: 320px){
          width: 14%;
        }
      }

      >p{

        padding: 6px 0 6px 12px;

        @media screen and (max-width: 1200px){
          padding-left: 10px;
        }

        @media screen and (max-width: $mq768){
          padding-left: 31px;
        }

        @media screen and (max-width: $mq425){
          padding-left: 17px;
        }
        @media screen and (max-width: 375px){
          padding-left: 14px;
        }
        @media screen and (max-width: 320px){
          padding-left: 8px;
        }
        // @media screen and (max-width: $mq768){
        //   padding-left: 14px;
        // }
      }
      
    }
  }
}


//
#introduction{
  .officeIntroduction{
  h2{
margin-bottom: 20px;

    color: $templateColorOG;
    }
  p{
margin-bottom: 30px;

    padding: 10px 30px;

      @media screen and (max-width: $mq425){
        padding-left: 0;
        padding-right: 0;
      }
    }
}

.card{
  background-color: #F3F3F3;
}

.features{
padding-top: 50px;
}

}

//
.team{
  .card{
    margin: 0 10px 8px;

&:hover{
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);

  transition-timing-function: ease-in-out;

transition-duration: .3s;

transition-property: box-shadow, transform;

transform: translate3d(0,-2px,0);
  }

.card-title-wrap{
  padding-left: 10px;

transition-timing-function: ease-in-out;

transition-duration: .3s;

transition-property: background-color, color;
  .card-title{
  font-weight: bold;
}

  .card-text{
    padding-left: 15px;
  }
}
  }
}

//
.hero2{

  .media.media{
  @media screen and (max-width: $mq992){
    margin-left: 10px;
    margin-right: 10px;
  }
}
}

//
.cta.cta{
  .btn-ghost{
    top: 2px;
  }

  p{
    @media screen and (max-width: $mq992){
      padding-bottom: 15px;
    }
  }
}

//
.hero.hero{
position: relative;

    // background: url(https://video.wixstatic.com/video/11062b_79271b7012564ed497d2774a895ab7fd/1080p/mp4/file.mp4);
    height: 100vh;

    background-image: none;
    overflow: hidden;
    padding: 0;

    // video{
    //   position: absolute;

    //   top: 0;

    //   left: 0;

    //   width: 100%;

    //   height: 100%;
    // }

    .video{
      // object-fit: fill;
      // width: 100%;
      // height: 100%;
      // max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // height: 100%;
      z-index: -1;
      width: 100%;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
       top: -34px;
       left: 0;
       transform: none;

      }

      @supports (-ms-ime-align:auto) {
        top: -34px;
        left: 0;
        transform: none;
      }
    }

    .heroBtn{
      @media screen and (max-width: $mq425){
        padding-left: 25px;
        padding-right: 25px;
        font-size: 17px;
      }
    }
}

//
.footerMsg.footerMsg{
padding-left: 8%;

  @media screen and (max-width: $mq992){
padding-right: 30%;

padding-bottom: 10px;

    padding-left: 30%;
    }
}

.footerMsg2.footerMsg2{
  padding-right: 8%;
  
  @media screen and (max-width: $mq992){
padding-right: 3%;

padding-bottom: 10px;

    padding-left: 3%;
    }
}

// dataTable
.page-item.active .page-link.page-link{
  border-color: $templateColorOG;

background-color: $templateColorOG;
  }

.page-link.page-link{
  color: $templateColorOG;

  &:focus{
    box-shadow: 0 0 0 0.2rem rgba($templateColorOG,.25);
  }
}

.table-bordered.table-bordered,
.table-bordered.table-bordered td, .table-bordered.table-bordered th{
  border-width: 0;
}

//
.columnIntroduction2{
  .title{
margin-bottom: 0;

    padding-bottom: 0;
    // padding-bottom: 10px;
    // margin-bottom: 15px;
  }

  .artcleMsg,
  .artcle{
    padding-top: 4%;

border-top-width: 5px;

border-top-style: solid;
    }

  
  .artcleMsg{
    border-top-color: $templateColorOG;

    @media screen and (max-width: 742px){
      padding: 10px 0 10px 20px;
    }
  }
  .artcle{
    border-top-color: $templateColorOG2;
  }

  .artcleMsg{
    p:nth-child(1),
    p:nth-child(2),
    p:nth-child(3){
      opacity: .60;
    }
  }

  .artcle{

  }
}


.hero3{
  @media screen and (max-width: $mq576){
    padding-left: 15px;
    padding-right: 15px;
  }
  // h2{
  // }
  // p{
  // }
}

//
.accordion{
    @media screen and (max-width: $mq425){
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .btn.btn{
      white-space: normal;

      @media screen and (max-width: $mq425){
          padding-left: 15px;
        padding-right: 15px;
        width: 100%;
      }
    }
}

//overrider
.scrolltop{
  z-index: 100;
}

.team .card-title-wrap .card-title.card-title {
  color: #999;
}

.team .card-title-wrap .card-text.card-text {
  color: #333;
}


.site-footer .bottom.bottom{
  padding-top: 0;

padding-bottom: 0;

background-color: #2E2E2E;

    img{
      @media screen and (max-width: $mq425){
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

.btn.btn{
padding: 15px 40px;

border-width: 2px;

  font-size: 16px;
  }

.btn-link.btn-link:hover,
.btn-full.btn-full:hover{
border-color: $templateColorOG;

  background-color: transparent;

color: $templateColorOG;
  }

.btn-link.btn-link{
  border-radius: 10px;
}

.btn-link.btn-link:hover,
.btn-link.btn-link:focus{
  text-decoration: none;
}

.card2.card2{
  border: 2px solid #eee;

border-radius: 10px;
  }

// modal 
.pr-8x{
  padding-right: 8px;
}
.pr-12x{
  padding-right: 12px;
}

.pb-20x{
  padding-top: 20px;

padding-bottom: 20px;
  }
.pb-10x{
  padding-top: 10px;

padding-bottom: 10px;
  }

.fz-12{
  font-size: 12px;
  &::before{
    font-size: 12px;
  }
}

.fz-15{
  font-size: 15px;
}
.fz-17{
  font-size: 17px;
}
.fz-19.fz-19.fz-19{
  font-size: 19px !important;
}
.fz-22{
  font-size: 22px;
}


.fz-25{
  font-size: 25px;

  @media screen and (max-width: $mq768){
    font-size: 17px;
  }
}

.py-9p{
  padding-top: 9%;

padding-bottom: 9%;
  }

.px-120x{
padding-right: 120px;

  padding-left: 120px;
  }

.py-10x{
  padding-top: 10px;

padding-bottom: 10px;
  }
.py-20x{
  padding-top: 20px;

padding-bottom: 20px;
  }

.py-30x{
  padding-top: 30px;

padding-bottom: 30px;
  }


.px-10p{
padding-right: 10%;

  padding-left: 10%;
  }

.px-35x{
padding-right: 35px;

  padding-left: 35px;
  }

.bgcRed{
  background-color: red;
}

.bgc2{
  background-color: #F3F3F3;
}

.bgc3{
  background-color: #3B3B3B;
  // background-color: #383838;
}

.bgc4.bgc4{
  background-color: #edf6ff;
}
.bgc5.bgc5{
  background-color: #1895AD;
}

.mx-25p{
margin-right: 25%;

  margin-left: 25%;
  }

.mt--1{
  margin-top: -1px;
}

.pl-3x-mq320{
  padding-left: 3px;
}

.pl-2x{
  padding-left: 2px;
}
.pl-6x{
  padding-left: 6px;
}
.pl-110x{
  padding-left: 110px;
}

.o-1.o-1{
  opacity: 1;
}

.o-5{
  opacity: .5;
}


.fz-15{
  font-size: 15px;
}
.fz-20.fz-20{
  font-size: 20px;
}
.fz-60.fz-60{
  font-size: 60px;

  @media screen and (max-width: $mq768){
    font-size: 35px;
  }
}

.bs-1{
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2);
}

.w-24x{
  width: 24px;
}

.w-30x{
  width: 30px;
}

.colo2{
  color: $templateColorOG;
}

.color3.color3.color3.color3{
  color: #333;
}


.fbColor{
  color: #3b5998;

  &::before{
    color: #3b5998;
  }
}

.fontStyle{
  border-bottom: 3px solid $templateColorOG;
}

.mw-170x{
  max-width: 170px;
}

.ls-13{
text-indent: 13px;

  letter-spacing: 13px;
  }

.md-mt-15x{
  @media screen and (max-width: $mq992){
    margin-top: 15px;
  }
}

.height500.height500{
  height: 500px;
}

.border-10{
  border-radius: 5px;
}