<footer class="site-footer">
  <div class="bottom">
    <div class="container-fluid">
      <div class="row bgc3 py-10x">
        <div class="col-lg-6 col-xs-12 text-lg-left footerMsg">
            <p class="o-1 fz-15">
              <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +886
              123456789
            </p>
            <p class="o-1 fz-15"><i class="fab fa-line"></i>&nbsp;&nbsp;&nbsp;<span class="fz-17">ms579</span></p>
        </div>
        <div class="col-lg-6 col-xs-12 text-lg-right text-center footerMsg2">

          <ul class="list-inline">
            <li class="list-inline-item fz-15">
              <a href="#">營業項目</a>
            </li>
            <li class="list-inline-item fz-15">
              <a href="#">專業團隊</a>
            </li>
            <li class="list-inline-item fz-15">
              <a href="#">專欄介紹</a>
            </li>
            <li class="list-inline-item fz-15">
              <a href="#">經手案例</a>
            </li>
            <li class="list-inline-item fz-15">
              <a href="#">聯絡我們</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row pb-10x">
        <div class="col-12 text-white text-center px-10p">
          <div class="credits">
            <p class="copyright-text d-inline-block pr-8x">
              Copyright © 2018 地政士 版權所有
            </p>
             <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
            -->
            Designed by <a href="https://www.mterrace.com.tw/">mTERRACE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>
